<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doktor Girişi</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            padding: 20px;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Admin Girişi</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="DoktorID">Admin name:</label>
                <input type="text" class="form-control" id="DoktorID" name="Ad">
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="text" class="form-control" id="Password" name="Password">
            </div>
            <!-- Şifre alanı eklenebilir -->
            <button type="submit" class="btn btn-info btn-block">Giriş Yap</button>
        </form>
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
