<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doktor Kaydı</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            padding: 20px;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">admin Kaydı</h2>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="Ad">Ad:</label>
                <input type="text" class="form-control" id="Ad" name="Ad">
            </div>
            <div class="form-group">
                <label for="Soyad">Soyad:</label>
                <input type="text" class="form-control" id="Soyad" name="Soyad">
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="text" class="form-control" id="Password" name="Password">
            </div>
           
            
            <button type="submit" class="btn btn-info btn-block">Kaydol</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
