<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta Kaydı</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            padding: 20px;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Hasta Kaydı</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="HastaID">Hasta ID:</label>
                <input type="text" class="form-control" id="HastaID" name="HastaID">
            </div>
            <div class="form-group">
                <label for="Ad">Ad:</label>
                <input type="text" class="form-control" id="Ad" name="Ad">
            </div>
            <div class="form-group">
                <label for="Soyad">Soyad:</label>
                <input type="text" class="form-control" id="Soyad" name="Soyad">
            </div>
            <div class="form-group">
                <label for="DogumTarihi">Doğum Tarihi:</label>
                <input type="date" class="form-control" id="DogumTarihi" name="DogumTarihi">
            </div>
            <div class="form-group">
                <label for="Cinsiyet">Cinsiyet:</label>
                <input type="text" class="form-control" id="Cinsiyet" name="Cinsiyet">
            </div>
            <div class="form-group">
                <label for="TelefonNumarasi">Telefon Numarası:</label>
                <input type="text" class="form-control" id="TelefonNumarasi" name="TelefonNumarasi">
            </div>
            <div class="form-group">
                <label for="Adres">Adres:</label>
                <textarea class="form-control" id="Adres" name="Adres"></textarea>
            </div>
            <button type="submit" class="btn btn-info btn-block">Kaydol</button>
        </form>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
