<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
</head>
<body>
    <div class="container">
        <a href="{%url 'update_doctor'%}" class="btn btn-info">Doktor Verileri Güncelle</a>
    </div>


    <div>Hastalar</div>


       <!-- Bootstrap JS (optional) -->
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>