
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasta ve Doktor Giriş/Kayıt</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
        }
        .btn {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Hasta ve Doktor Giriş/Kayıt</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Hasta İşlemleri</h5>
                        <a href="{%url 'hasta_login'%}" class="btn btn-secondary">Giriş Yap</a>
                        <a href="{%url 'hasta_signup'%}" class="btn btn-info">Kayıt Ol</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Doktor İşlemleri</h5>
                        <a href="{%url 'doktor_login'%}" class="btn btn-secondary">Giriş Yap</a>
                        <a href="{%url 'doktor_signup'%}" class="btn btn-info">Kayıt Ol</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="{%url 'admin_login' %}" class="btn btn-info">Admin Paneli</a>
            <a href="{%url 'admin_signup'%}" class="btn btn-info">Admin Paneli Kayıt</a>
        </div>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
